<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Lesson5>
            <version>0.1.0</version>
        </Magestore_Lesson5>
    </modules>
    <frontend>
        <routers>
            <lesson5>
                <use>standard</use>
                <args>
                    <module>Magestore_Lesson5</module>
                    <frontName>lesson5</frontName>
                </args>
            </lesson5>
        </routers>
        <layout>
            <updates>
                <lesson5>
                    <file>lesson5.xml</file>
                </lesson5>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <lesson5>
                <class>Magestore_Lesson5_Model</class>
                <resourceModel>lesson5_mysql4</resourceModel>
            </lesson5>
            <lesson5_mysql4>
                <class>Magestore_Lesson5_Model_Mysql4</class>
                <entities>
                    <lesson5>
                        <table>lesson5</table>
                    </lesson5>
                </entities>
            </lesson5_mysql4>
        </models>
        <resources>
            <lesson5_setup>
                <setup>
                    <module>Magestore_Lesson5</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lesson5_setup>
            <lesson5_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lesson5_write>
            <lesson5_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lesson5_read>
        </resources>
        <blocks>
            <lesson5>
                <class>Magestore_Lesson5_Block</class>
            </lesson5>
        </blocks>
        <helpers>
            <lesson5>
                <class>Magestore_Lesson5_Helper</class>
            </lesson5>
        </helpers>
    </global>
</config>